<div id="chapbook_membership_list">
  <% unless @poem.chapbooks.empty? -%>
    <h2>Published In</h2>
    <p>
      <% @poem.chapbooks.each do |c| -%>
        <%= link_to("#{c.title} by #{c.user.name}", chapbook_path(c)) %> | 
      <% end -%>
    </p>
  <% end -%>
  <% if logged_in? -%>
    <span id="add_to_chapbook"><%= link_to_function("Add to Chapbook", "Element.show('add_to_chapbook_list')") %></span><br />
    <div id="add_to_chapbook_list" style="display: none;">
      <ul>
        <% current_user.recent_chapbooks.each do |c| -%>
          <%= link_to_remote("<li>#{c.title}</li>", :url => add_to_chapbook_path(:poem_id => @poem.id, :chapbook_id => c.id)) unless c.poems.include?(@poem) %>
        <% end -%>
      </ul>
      <p><%= link_to('Create a new Chapbook', new_chapbook_path()) %></p>
    </div>
  <% end -%>
</div>