<h1>Who?</h1>
<p>Code/Concept: Justin Duewel-Zahniser</p>
<h1>What?</h1>
<p>It's like Flickr but for potry.  I mean, poetry.  Write/upload and share your poems, read and collect others' poems.  Have fun.  The design can be attributed to or blamed on Mead Composition books (aka, mottled zebra books).  I have noticed a statistically significant increase in the quality of my own writing and the writing of fellow poets when it is written in a mottled zebra book.</p>
<h1>Why?</h1>
<p>Other poetry sites have one or more of the following aggravating attributes:</p>
<ul>
  <li>They don't support spacing or other simple markup in poems.  Not every line starts flush left.</li>
  <li>Poems are hard to discover.  There's a lot of metadata, but it's under-used.</li>
  <li>Users aren't encouraged to care about other people's work.  We've introduced anthologies and favorites to allow for promoting each other's work.</li>
  <li>You can't use them to learn about the writing/revising process.  With revisions and diffs, we shed light on the creative process.</li>
</ul>
<p>We think that a different approach will help Internet poetry suck less, overall, on average.</p>
<h1>How?</h1>
<p>Ruby on Rails, Heroku (z0mg!), tons of plugins and Instiki's diff module.</p>
<h1>If You'd Like to Help</h1>
<p>There are a few donations I'd appreciate:</p>
<ul>
  <li>Assistance with the final design.  The current design is a placeholder and I'd like to launch once it's functionally complete, rather than having to design afterwards since I'm slower at CSS.</li>
  <li>Donations.  $30 to buy an icon set would be nice.  Any other donations would be used to first reserve cash for a paid Heroku account and second used one day (if you say it's okay when you donate) to upgrade my old-ass pre-Intel mac mini.</li>
  <li>Verbal support, publicity, beta testers.  You know.  Stuff that doesn't require much effort or any cash outlay.</li>
</ul>