<% @page_title = "About Chapbook" %>
<h1>Who?</h1>
<p>Justin Duewel-Zahniser</p>
<h1>What?</h1>
<p>It's like Flickr but for potry.  I mean, poetry.  Write/upload and share your poems.  Read and remix others' poems.  See how your favorite writers evolve their poems.  Have fun.</p>
<h1>Why?</h1>
<p>Other poetry sites have one or more of the following aggravating attributes:</p>
<ul>
  <li>They don't support indentation in poems.  Not every line starts flush left.</li>
  <li>There aren't many access points to find poems of interest to read.</li>
  <li>Users aren't encouraged to contribute and to motivate other users to keep writing.</li>
  <li>They don't facilitate creative commons licenses and the remixing of poems between peers.</li>
  <li>You can't use them to learn about the writing/revising process.  They give credence to the frequent (false) assumption that poetry is sacred once written and cannot be improved.</li>
</ul>
<p>I think that a different approach will help Internet poetry suck less over time.</p>
<h1>If You'd Like to Help</h1>
<p>There are a few donations I'd appreciate:</p>
<ul>
  <li>Currency.  Any money I receive would go towards a domain name first, then a TextMate license.  If you want to be philanthropic, I need a MacBook.</li>
  <li>Words of kindness.  You know "I'd like to use this, so please finish it one day."</li>
  <li>Beta testers.</li>
  <li>If you want to help code, let me know.</li>
</ul>