<% @page_title = "About Chapbook" %>
<h1>Elevator Pitch?</h1>
<p>A poetry editing/sharing web app which encourages you to engage other poets, remix poems, revise your own work and learn from each other.  It exists because other poetry editors don't really go beyond editing and sharing.</p>
<h1>Why Should I Care?</h1>
<p>Other poetry sites have one or more of the following aggravating attributes:</p>
<ul>
  <li>They don't support indentation in poems.  Not every line starts flush left.</li>
  <li>There aren't many access points to find poems of interest to read.</li>
  <li>Users aren't encouraged to contribute and to motivate other users to keep writing.</li>
  <li>They don't facilitate creative commons licenses and the remixing of poems between peers.</li>
  <li>You can't use them to learn about the writing/revising process.  They give credence to the frequent (false) assumption that poetry is sacred once written and cannot be improved.</li>
</ul>
<h1>I Want to Help!</h1>
<p>Here's what you can donate:</p>
<ul>
  <li>Tips (see tip jar, below).  Tips would go towards a domain name first, then probably an Android phone so I can take this mobile.</li>
  <li>Encouragement</li>
  <li>Testing and feedback.</li>
  <li>Developers or advisers with experience in data mining (for "popular poem" rankings, topical similarity, etc.).</li>
</ul>
<%= render :partial => 'tip_jar' %>