<% @page_title = "Recent Poems @ Chapbook" %>
<% @rss = auto_discovery_link_tag(:rss, formatted_poems_url(:rss), { :title => @page_title }) %>
<h1>Explore</h1>
<%= render :partial => 'tags/cloud', :locals => {:tags => @tags} -%>
<h1>Recent Poems</h1>
<%= render :partial => "poem_list", :object => @poems %>
