/* Overrides */

body {
  margin: 0;
  margin-top: 10px;
  padding: 0;
}

body, p, ol, ul, td {
  font-family: Arial, sans-serif;
  font-size: 85%;
}

pre {
  background-color: #eee;
  padding: 2em;
}

a, a:visited, a:active {
  color: #336699;
  background-color: white;
  text-decoration: none;
}

a:hover {
  color: white;
  background-color: #336699;
  text-decoration: none;
}

input, select, option {
  font-size: 85%;
}

input[type="submit"]:enabled, input[type="button"]:enabled {
  color: white;
  background-color: #336699;
}

hr {
  border: thin solid #ddd;
  margin: 0;
  padding: 0;
}

h1, h2, h3, h4 {
  color: #333333;
}

h2 {
  font-size: medium;
}

/* Layout */

div#main_container {
  margin: 0 auto;
  width: 63em;
}

div#left_container {
  float: left;
  width: 12em;
  background-color: #6699CC;
  padding-top: .5em;
  padding-left: .2em;
  padding-right: .2em;
}

div#search {
  margin-top: 1em;
}

div#content_container {
  float: left;
  width: 50em;
  border: medium solid #6699CC;
  border-top: none;
}

div#nav {
  background-color: #6699CC;
}

div#body_container {
  padding: 2em;
  min-height: 300px;
}

div#footer {
  padding-top: .2em;
  background-color: #6699CC;
  clear: left;
}

/* Poem */

div#poem_left_column {
  float: left;
  width: 30em;
  margin-right: 2em;
}

div#poem_actions {
  float: left;
  width: 10em;
}

.favorite_link, .favorite_link:hover {
  background-color: white;
  color: white;
}

input.new_poem {
  height: 50em;
  width: 60em;
}

#revisions_list, #tags {
  margin: 0;
  padding: 0;
}

#revisions_list li {
  list-style: none;
  margin-left: 0px;
  padding-bottom: .2em;
}

#tags li {
  list-style: none;
  margin-left: 0px;
  padding-bottom: .2em;
}

/* User Home */

div#recent_poems {
  padding-top: .5em;
  clear: both;
}

.recent_poem {
  border-right: thin solid #ccc;
  padding-right: .5em;
  padding-top: .5em;
  margin-right: .5em;
  float: left;
  display: inline;
  text-align: center;
}

p#favorites_link {
  clear: both;
}

div#friend_updates {
  padding-top: 1em;
  padding-bottom: 1em;
  clear: both;
}

#friends, #pending_friends, #requested_friends {
  margin: 0;
  padding: 0;
}

#friends li, #pending_friends li, #requested_friends li {
  list-style: none;
  padding-bottom: .2em;
}

/* Pagination */

.pagination {
  padding: 3px;
  margin: 3px;
}

.pagination a {
  padding: 2px 5px 2px 5px;
  margin: 2px;
  border: 1px solid #aaaadd;
  text-decoration: none;
  color: #6699CC;
}

.pagination a:hover, .pagination a:active {
  border: 1px solid #000099;
  color: white;
}

.pagination span.current {
  padding: 2px 5px 2px 5px;
  margin: 2px;
  border: 1px solid #6699CC;
  font-weight: bold;
  background-color: #6699CC;
  color: #FFF;
}

.pagination span.disabled {
  padding: 2px 5px 2px 5px;
  margin: 2px;
  border: 1px solid #ccc;
  color: #ccc;
}

/* Miniflex Nav Link Tabs from SimpleBits.com */

#left_container_login {
  background-color: #6699CC;
  color: white;
  font-weight: bold;
}

#left_container_login:hover {
  background-color: white;
  color: #6699CC;
}

#miniflex {
  width: 100%;
  float: left;
  padding: 0pt 0pt 0.2em;
  margin: 0;
  background-color: #6699CC;
  }

#miniflex li {
  float: left;
  margin: 0; 
  padding-left: .2em;
  padding-top: .2em;
  padding-bottom: .2em;
  display: inline;
  list-style: none;
  }
  
#miniflex a:link, #miniflex a:visited {
  float: left;
  line-height: 1em;
  font-weight: bold;
  margin: 0 .5em 0 .5em;
  text-decoration: none;
  color: white;
  background-color: #6699CC;
  padding: .2em;
  }

#miniflex a.active:link, #miniflex a.active:visited, #miniflex a:hover {
  color: #6699CC;
  background-color: white;
  }
  
/* Diff */

.diffdel, del.diffmod { color: grey; }
.diffins, ins.diffmod { background: #33FF33; }

/* Tag Cloud */

div#tag_cloud {
  text-align: center;
  border: thin solid #6699CC;
}

.smaller, .small, .medium, .large {
  margin-left: .5em;
  margin-right: .5em;
  margin-top: .5em;
  margin-top: .5em;
}

.smaller { font-size: smaller; }
.small { font-size: small; }
.medium { font-size: medium; }
.large { font-size: large; }

/* Scaffolding */

.fieldWithErrors {
  padding: .3em;
  background-color: red;
  display: table;
}

#errorExplanation {
  width: 24em;
  border: .3em solid red;
  padding: .6em;
  padding-bottom: 1em;
  margin-bottom: 2em;
  background-color: #f0f0f0;
}

#errorExplanation h2 {
  text-align: left;
  font-weight: bold;
  padding: .4em .4em .4em 1.2em;
  font-size: 1em;
  margin: -.6em;
  background-color: #c00;
  color: white;
}

#errorExplanation p {
  color: #333;
  margin-bottom: 0;
  padding: .4em;
}

#errorExplanation ul li {
  font-size: 1em;
  list-style: square;
}

div.uploadStatus {
  margin: .4em;
}

div.progressBar {
  margin: .4em;
}

div.progressBar div.border {
  background-color: #fff;
  border: .2em solid gray;
  width: 100%;
}

div.progressBar div.background {
  background-color: #333;
  height: 1.4em;
  width: 0%;
}