<% @rss = auto_discovery_link_tag(:rss, formatted_favorites_url(@user, :rss), { :title => "Favorite Poems of #{@user.name} on Chapbook" }) %>
<% @page_title = "#{@user.name} Favorite Poems @ Chapbook" %>
<% if @favorites.empty? -%>
    <h2>You don't have any favorites.  Why don't you <%= link_to('go find some?', poems_path()) %></a>
<% else -%>
  <div id="favorites">
    <h2>Your Favorite Poems</h2>
    <% @favorites.each do |f| -%>
      <%= render :partial => 'poems/recent_poem', :locals => { :poem => f.poem } %>
    <% end -%>
  </div>
<% end -%>