<div id="chapbook_header">
  <p><%= @chapbook.title %>: <%= link_to('Front', chapbook_path(@chapbook)) %>, <%= link_to('Table of Contents', toc_path(@chapbook)) %>, <%= link_to('Intro', intro_path(@chapbook)) %></p>
</div>