<% if @chapbook.cover.nil? -%>
  <h1 style="text-align: center"><%= link_to(@chapbook.title, toc_path(@chapbook)) %></h1>
<% else -%>
  <%= link_to(image_tag(@chapbook.cover.public_filename()), toc_path(@chapbook)) %>
<% end -%>
<p>
  <% if logged_in? -%>
    <%= link_to 'Edit', edit_chapbook_path(@chapbook) if current_user == @chapbook.user %>
  <% end -%>
</p>
