<div id="chapbook_explanation" style="clear: both; width: 60em; display: inherit;">
  <h2>Awesome</h2>
  <p>
    It's like Flickr but for potry. I mean, poetry. Write/upload and share your poems. Read and collect others' poems. See how your favorite writers evolve their poems. Have fun.
  </p>
  <p>
    There's a bit more detail on the <%= link_to('About page', about_url()) %>.
  </p>
</div>