<div id="chapbook_explanation" style="clear: both; width: 60em; display: inherit;">
  <h2>Chapbook is a modern web app for authoring, sharing and collaborating on poetry.  Most apps support the first one, don't do well at the second one and epic fail at the third one.</h2>
  <p>
    There's more on the <%= link_to('About page', about_url()) %>.
  </p>
</div>