<div id="openid_explanation" style="clear: both; width: 60em; display: none;">
  <h2>How Does OpenID Work?</h2>
  <p>
    Basically, you create an account with an OpenID provider.  The provider sets up a URL for you.  When you want to login, you give us the URL and we use it to ask your provider if we should let you in.  In other words, you don't have to create yet another freaking login just for Chapbook.  Because we love you.
  </p>
  <h2>Where can I get an OpenID?</h2>
    <p>You probably already have at least one.  You can log in using the buttons for Google, Yahoo!, Facebook or Windows Live, below.  If you don't have any of those, try:</p>
    <ul>
      <li>Clickpass: <%= link_to('ClickPass', 'http://www.clickpass.com') %> (Recommended, since you can use it for comments too).</li>
      <li><%= link_to('LiveJournal', 'http://www.livejournal.com') %> blog URLs are OpenIDs.</li>
      <li>Your AIM account: http://openid.aol.com/[your sn here]</li>
    </ul>
  <h2>How Do I Create a Chapbook Account?</h2>
  <p>
    It's kind of automatic.  Just sign in for the first time with an OpenID.  You can then add a name, email address and password to the account (though, only the name is required).  Email and password can serve as a backup in the unlikely situation that all your OpenID providers (because you can set up more than one) magically vanish.
  </p>
</div>